#greeting {
height: 104px;
color: #000;
font-family: Inter;
font-size: 64px;
font-weight: 400;
}

#greeting2 {
height: 52px;
color: #000;
font-family: Inter;
font-size: 64px;
font-weight: 400;
}

#img1 {
width: 231px;
height: 197px;
}

#img2 {
width: 231px;
height: 197px;
}

#img3 {
width: 231px;
height: 197px;
}