
/* Text */
#greeting {
height: 104px;
color: #000;
font-family: Inter;
font-size: 32px;
font-weight: 400;
}

#greeting2 {
height: 52px;
color: #000;
font-family: Inter;
font-size: 32px;
font-weight: 400;
}
/* Buttons */
button {
    border: none;
    width: auto;
    background-color: #39FF14;;
}

img {
    width: clamp(150px, 20vw, 500px);
    height: 197px;
}


#cardboard {
color: #000;
font-family: Inter;
font-size: 36px;
font-weight: 400;
padding: 250px 0;
}

#cardboard {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    padding: 175px 0;
    }

#feet2 {
    padding: 20px;
}